
  <div id="userLibrary" class="albums" >
    <div class="container">
      <div class="row display_boxflex">
        <div>
          <div class="albums-box" style="display: inline-block;">
            <h2>Your Sounds</h2>
  </div>
           
  <div class="gallery">
    <div class="column">
     
      <div class="item">
        <!-- <a href="https://media.discordapp.net/attachments/204662526464622592/739039634796970044/image0.gif" -->
          <!-- class="imglink"> -->
          <img
          src="../../../assets/img/{{welcomService.data[0].image1}}"
            class="img">
        <!-- </a> -->
        
      </div> 
     

    <!-- <div class="column">
      <div class="item">
        <a href="https://zepto.scrolller.com/sierpinski-dodecahedron-1366x768-4zpb2ye9pu-540x304.jpg"
          class="imglink">
          <img src= [src]="img10"
            class="img">
        </a>
       
      </div>  -->

      
      <div class="item">
        <!-- <a href="https://yocto.scrolller.com/san-francisco-ca-western-addition-neighborhood-8iv7lljhem-1080x719.jpg"
          class="imglink"> -->
          <img
          src="../../../assets/img/{{welcomService.data[1].image1}}"
            class="img">
        <!-- </a> -->
      </div> 


      <div class="item">
        <!-- <a href="https://yocto.scrolller.com/moonlight-cheese-institute-by-46a7qal7bl-540x766.jpg"
          class="imglink"> -->
          <img  
          src="../../../assets/img/{{welcomService.data[4].image1}}"
            class="img">
        <!-- </a> -->
        
      </div>
    </div>
    <div class="column">
      <div class="item">
        <!-- <a href="https://zepto.scrolller.com/sierpinski-dodecahedron-1366x768-4zpb2ye9pu-540x304.jpg"
          class="imglink"> -->
          <img src="../../../assets/img/{{welcomService.data[5].image1}}"
            class="img">
        <!-- </a> -->
        
      </div>
      <div class="item">
        <!-- <a href="https://i.imgur.com/kgQJlfK.png" class="imglink"> -->
          <img   src="../../../assets/img/{{welcomService.data[9].image1}}" class="img">
        <!-- </a> -->
       
      </div>
      <div class="item">
        <!-- <a href="https://i.imgur.com/V7Y9WxN.png" class="imglink"> -->
          <img src="../../../assets/img/{{welcomService.data[10].image1}}" class="img">
        <!-- </a> -->
        
      </div>
    </div>
  </div>





  
  
          </div>
          <button class="button" (click)="goToLibraryCard()"><span>Go Albums</span></button>

        </div>
      </div>
    </div>
