 <!-- ======= Hero Section ======= -->
 <div   id="home" style="  height: 100vh;
 background: url(../../../assets/img/{{welcomService.data[12].image1}}) top right no-repeat;
 background-size: contain;
 position: relative;
 width: 1347px;
 ">
 <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>{{welcomService.data[12].description}}</h1>
      <div class="content">
<br>
<br>



      <p ><strong>We Give</strong>  </p>
      <div class="content__container">
    
        <ul class="content__container__list">
         <li class="content__container__list__item"> {{welcomService.data[12].text}} ..</li>
         <li class="content__container__list__item">{{welcomService.data[12].text2}} ..</li>
         <li class="content__container__list__item">{{welcomService.data[12].slider1}} ..</li>
         <li class="content__container__list__item">Energy ..</li>
       </ul>
      </div>   
    </div>   
    </div>
  </section><!-- End Hero --></div>