
  <header id="header" class="d-flex flex-column justify-content-center">


    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#home" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#top10" class="nav-link scrollto "> <i class="bx bx-medal"></i>  <span>Top 10</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#albums" class="nav-link scrollto"><i class="bx bx-music"></i> <span>Albums</span></a></li>
        <li><a href="#userLibrary" class="nav-link scrollto"><i class="fa fa-headphones"></i> <span>Your Songs</span></a></li>

        <li><a href="#testimonial" class="nav-link scrollto"><i class="bx bx-comment"></i> <span>Testimonial</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>

        <li><a href="#ourTeam" class="nav-link scrollto"><i class="fa fa-id-card-o"></i> <span>Our Team</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->
