


<div class="albums-box" style="display: inline-block;" id="ourTeam">

</div>
<div class="containerBackground" style=" background: #e596c21c 0 0 no-repeat padding-box;height: 707px;">
	<br>
	<br>

	<br>
	<br>
	<br>
	<br>




<!-- our team -->
<!-- ***********  -->
<div class="team" id="OurTeam" >
    <div class="section-title"  >
      <h2 style="    right: -60px;    margin-top: -126px;">Our team</h2>
      <br><br>
    </div>
  
    <div class="container">
  
        <div class="row" style="margin-left:200px">
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img class="raghda" src="../../../assets/img/raghda.jpeg" alt="Team Image">
                    </div>
                    <div id="raghda" class="team-text">
                        <p class="rayahh2" style="color: #d4369c;">
                        
                            <strong style="font-size: medium;"> Raghda Kenani </strong> <br>
                             Computer Science
                         
                         </p>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img class="ra" src="../../../assets/img/rayah.png" alt="Team Image" style="height: 100% ; width: 100%;">
                    </div>
                    <div style="    position: absolute; bottom: -88px;" id="rayah" class="team-text">
                        <p class="rayahh2" style="color: #d4369c;">
                        
                            <strong style="font-size: medium;"> Rayah Almigdady </strong> <br>
                             Computer Information System
                         
                         </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="../../../assets/img/4D8A5049.JPG" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <p style="color: #d4369c;">
                        <strong style="font-size: medium;">Mymona Monem</strong> <br>
                        Computer Engineering                  
                    </p>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
            <div class="team-item">
                <div class="team-img">
                    <img src="../../../assets/img/issam's.JPG" alt="Team Image" style="height: 100% ; width: 100%;">
                </div>
                <div style="    position: absolute; bottom: -67px;" class="team-text">
                  
                    <p class="rayahh2" style="color: #d4369c;">
                        
                       <strong style="font-size: medium;"> Issam Hashem</strong> <br>
                        Mechanical Engineering
                    
                    </p>
                   
                </div>
            </div>
        </div>
    </div>


        </div>
    </div>
  
  


  
</div>
  
  
   
  <!-- End our teame -->