.copyright {
    margin-top: -33px !important;
    margin-bottom: -22px !important
}
p{
    margin-top: 30 !important;
         margin-bottom: 30 !important;
    }

    #imglogo{
        margin-bottom: -29px;
        }