<app-header></app-header>
<br>
<br>
<br>
<br>
<br>


<!-- <button class="btn" mat-button (click)="getSoundByCategoryName()"  cdkFocusInitial>search  </button>
<div class="form-group">
  <label for="sound name"></label>
  <input    type="text"  [formControl]="searchSound">
</div> -->

<a class="catBtn" mat-button (click)="getCategoryByCategoryName()" cdkFocusInitial> <span
    class="input-group-text border-0" id="search-addon">
    <i class="fa fa-search"></i>
  </span> </a>
<form class="user-form" id="form">
  <input type="text" id="search" placeholder="Search" [formControl]="searchSound">
</form>
<br>
<br>
<!-- <input type="text" [value] ="categoryName">
<button >Search</button> -->




<section class="container">
  <div class="row ">

    <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let category of home.library">

      <article class="material-card Orange">
        <h2>
          <strong>
            <i class="fa fa-fw fa-star"></i>
            {{category.categoryName}}
          </strong>
        </h2>
        <div class="mc-content">
          <a (click)="getSounds(category.categoryID)" style="cursor: pointer;">

            <div class="img-container">
              <img class="img-responsive" style=height:100% src="../../../assets/img/{{category.image}}" width="100%">
            </div>
          </a>


        </div>

        <!-- <a class="mc-btn-action" (click)="getSounds(category.categoryID)">


            <label for="active" class="menu-btn"><span></span></label>
            
                    </a> -->
        <div class="mc-footer">
          <!-- <h4>
              Social
            </h4>
            <a class="fa fa-fw fa-facebook"></a>
            <a class="fa fa-fw fa-twitter"></a>
            <a class="fa fa-fw fa-linkedin"></a>
            <a class="fa fa-fw fa-google-plus"></a> -->
        </div>
      </article>



    </div>
  </div>
</section>


<style>
  @keyframes octocat-wave {

    0%,
    100% {
      transform: rotate(0)
    }

    20%,
    60% {
      transform: rotate(-25deg)
    }

    40%,
    80% {
      transform: rotate(10deg)
    }
  }

  @media (max-width:500px) {
    .github-corner:hover .octo-arm {
      animation: none
    }

    .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out
    }
  }
</style>
<app-footer></app-footer>